<div class="adminVipsPartial">
     <table>
          <thead>
               <tr>
                    <td><img src="/images/photos.png" alt="photos"></td>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <td class="traitHorizontal"><a href="/Photos/ajouter">Ajouter</a></td>
               </tr>
               <tr>
                    <td class="traitHorizontal"><a href="/Photos/supprimer">Supprimer</a></td>
               </tr>
          </tbody>
     </table>
</div>


<div class="adminVips">

</div>
