<div class="adminVipsPartial">
  <table>
       <thead>
            <tr>
                 <td><img src="/images/vips.png" alt="vips"></td>
            </tr>
       </thead>
       <tbody>
            <tr>
                 <td class="traitHorizontal"><a href="/Vips/ajouter">Ajouter</a></td>
            </tr>
            <tr>
                 <td class="traitHorizontal"><a href="/Vips/modifier">Modifier</a></td>
            </tr>
            <tr>
                 <td class="traitHorizontal"><a href="/Vips/supprimer">Supprimer</a></td>
            </tr>
     </tbody>
  </table>
</div>

<div class="adminsVips">

</div>
